---
# Do not remove
---

$font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$light-font-weight: 200;

$darkest-text-color: #0d0618;
$dark-text-color: #46433A;
$lightest-text-color: #ffffff;
$primary-color: #64B6B1;
$secondary-color: #DED4B9;
$code-background-color: #efefff;
$code-border-color: #dedeed;

$base-text-size: 1em;

@import "fonts", "syntax-highlighting", "mixins", "core";
