---
# Do not remove
---

$font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$bold: 400;
$normal: 300;
$thin: 100;

$darkest-text-color: #0d0618;
$dark-text-color: #46433A;
$lightest-text-color: #ffffff;

$primary-color: #64B6B1;
$secondary-color: #DED4B9;
$tertiary-color: #CE534D;

$code-background-color: #efefff;
$code-border-color: #dedeed;

$base-text-size: 1em;

@import "fonts", "syntax-highlighting", "mixins", "core";
