body {
  background: url(../assets/images/background.png) repeat;
  font-size: $base-text-size;
  color: $darkest-text-color;
  font-family: $font-family;
  font-weight: $normal;
}

em, strong {
  color: $tertiary-color;
}

strong, h1, h2 {
  font-weight: 400;
}

figure {
  margin: 10px;
}

article {
  $h1-size: $base-text-size*2;
  $h2-size: $base-text-size*1.5;
  font-size: $base-text-size;
  margin: 20px 0;
  header {
    h1 {
      font-size: $h1-size * 2;
    }
    time {
      font-size: $h1-size;
    }
  }

  h1 {
    font-size: $h1-size;
  }
  h2 {
    font-size: $h2-size;
  }

  @media(min-width: 34em) {
    margin: 20px 20px;
  }

  @media(min-width: 48em) {
    margin: 20px 10%;
  }

  @media(min-width: 75em) {
    margin: 20px 20%;
  }
}

code {
  white-space: pre-wrap;
  width: auto;
  word-break: break-all;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: $primary-color;
}

header {
  text-align: center;
  margin: 30px 0;

  h1, time {
    font-weight: $thin;
    color: $darkest-text-color;
    margin: 10px;
  }
}

.boids {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

article.projects-container {
  margin: 20px;

  .projects {
    @include flexbox();
    @include flex-flow(row wrap);
    @include justify-content(center);
    list-style: none;
    padding: 0;
  }

  .project {

    @include flex(1, 0, 100%);

    @media(min-width: 34em) {
      @include flex(1, 0, 35%);
    }
    @media(min-width: 62em) {
      @include flex(1, 0, 25%);
    }

    max-width: 200px;
    height: 200px;
    margin: 10px;
    padding: 5px;
    background: $primary-color;

    * {
      text-align: center;
      font-weight: $thin;
    }

    a {
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      @include flex-direction(column);
      width: 100%;
      height: 100%;
      color: $lightest-text-color;
    }

    &:nth-child(4n + 2) {
      background: $secondary-color;
      a {
        color: $dark-text-color;
      }
    }

    &:nth-child(4n + 3) {
      background: $tertiary-color;
    }

    &:nth-child(4n + 4) {
      background: $dark-text-color;
      a {
        color: $secondary-color;
      }
    }
  }
}

.home-tile-group {
  height: 100vh;
  @include flexbox();
  @include justify-content(center);
  @include flex-direction(column);
  @include align-items(center);

  .home-tile-group-row {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);

    a, a:hover, a:visited {
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      @include flex-direction(column);
      font-weight: $thin;
      color: $lightest-text-color;
      font-size: $base-text-size * 1.7;
      text-decoration: none;
      text-align: center;
      background: $primary-color;
      width: 40vmin;
      height: 40vmin;
      max-height: 250px;
      max-width: 250px;
      margin: 5px;
    }

    &:nth-child(1n) {
      margin: 0 9vmin 0 0;
    }

    &:nth-child(2n) {
      margin: 0 -9vmin 0 0;
    }

    &:nth-child(1) a:nth-child(1), &:nth-child(2) a:nth-child(2) {
      background: $primary-color;
    }

    &:nth-child(1) a:nth-child(2), &:nth-child(2) a:nth-child(1) {
      background: $secondary-color;
      color: $dark-text-color;
    }
  }
}

.social {
  text-align: center;
  img {
    height: 24px;
    width: auto;
    padding: 0 3px;
    margin: 0 2px;
  }
}

ul.post-list {
  list-style: none;
  margin: 0;
  padding: 5px;
  .post-list-item {

    &:not(:last-child) {
      border-bottom: thin $dark-text-color solid;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

    h2, p, span {
      margin: 5px 0;
    }

    a p, a span {
      color: $darkest-text-color;
    }

    span {
      font-weight: $thin;
      font-size: $base-text-size;
    }
  }
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.post {
  header {
    text-align: center;
    margin: 30px 0;
  }

  .share {
    margin-top: 20px;
    .twitter-tweet-button {
      vertical-align: top;
    }
  }
  .content {
    background: white;
    padding: 20px;
  }

  .post-image {
    @extend .center;
    max-width: 90%;
    height: auto;
  }
}

.screenshot-group {
  text-align: center;
  img {
    margin: 5px;
    width: 20%;
    min-width: 120px;
  }
}

.author-avatar {
  @extend .center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}