@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-Thin.woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-ThinItalic.woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-Light.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-LightItalic.woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-Italic.woff');
  font-weight: 400;
  font-style: italic;
}