@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-Thin.woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-ThinItalic.woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-Light.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-Light.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-Bold.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato-BoldItalic.woff');
  font-weight: bold;
  font-style: italic;
}