---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header>
        <img class="author-avatar" src="{{site.author_avatar}}"/>
        <h1 itemprop="name headline">{{ page.title }}</h1>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b
            %-d, %Y"
            }}
        </time>
        <div class="share">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{site.twitter_username}}">Tweet</a>
            <script>
                !function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + ':' + '//platform.twitter.com/widgets.js';
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, 'script', 'twitter-wjs');
            </script>

            <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="fb-like" data-href="{{page.url}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
        </div>
    </header>

    <section class="content" itemprop="articleBody"> {{ content }}</section>

</article>
